{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/pokemon/pokemon-index.css' %}"/>
{% endblock %} 
{% block content %}

<section class="page-header">
  <h1>Pokémon List</h1>
  <img src="{{ pokemon.0.sprite_url }}" alt="Pikachu"  />
  <img src="{{ pokemon.1.sprite_url }}" alt="Bulbasaur" />
  <img src="{{ pokemon.2.sprite_url }}" alt="Charmander" />
  <img src="{{ pokemon.3.sprite_url }}" alt="Squirtle" />
  {% comment %} <img src="{{ poke.sprite_url }}" /> {% endcomment %}
</section>

<section class="card-container">
  {% for poke in pokemon %}
    <div class="card">
      <div class="card-content">
        <div class="card-img-container">
          <img
            src="{{ poke.sprite_url }}" 
            alt="A Pokémon"
            style= "width: 250px;"
            
          />
        </div>
        <h2 class="card-title">{{ poke.name }}</h2>
        {% if poke.age > 0 %}
        <p>A {{ poke.age }} year old {{ poke.species }}</p>
        {% else %}
        <p>A {{ poke.species }} hatchling.</p>
        {% endif %}
        <p><small>{{ poke.description }}</small></p>
      </div>
    </div>
  {% endfor %}
</section>

{% endblock %}
